/*font*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&family=Rock+Salt&display=swap");
header {
  position: sticky;
  z-index: 10;
  top: 0%;
}
header .menu-hamburguesa {
  margin-right: 50px;
  border: 1px solid;
}
header .barra-navegacion {
  background-color: rgb(100, 146, 78);
  align-items: center;
}
header .barra-navegacion .logo-nav img {
  width: 70%;
  margin-left: 50px;
}
header .navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  margin-right: 40px;
}
header .navbar-expand-lg .navbar-collapse .nav-link {
  font-size: 1.8rem;
  margin: 12px;
}
header .navbar-expand-lg .navbar-collapse .dropdown.menu .dropdown-item {
  font-size: 1rem;
}
header .fuente-desplegable {
  font-size: 2rem;
}

/*footer*/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: "nombre redes";
  background-color: #a19d95;
  color: black;
  width: 100%;
  height: 100px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .nombre {
  grid-area: nombre;
  margin: 60px;
}
footer .redes {
  grid-area: redes;
  margin: 60px;
}
footer .redes img {
  width: 35px;
  margin: 10px;
}

body {
  background-color: #f5f5dc;
}

/*carousel*/
.carrousel-index-1 h1 {
  font-size: 7rem;
}
.carrousel-index-1 p {
  font-size: 3rem;
}

.carrousel-index-2 h2 {
  font-size: 5rem;
}
.carrousel-index-2 p {
  font-size: 3rem;
}

.carrousel-index-3 h2 {
  font-size: 5rem;
}
.carrousel-index-3 p {
  font-size: 3rem;
}

/*-------------------destacados*/
.destacados {
  text-align: center;
}
.destacados h2 {
  color: #141414;
  margin: 50px;
}
.destacados .filaDestacados {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}
.destacados .filaDestacados .productoDestacado {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destacados .filaDestacados .productoDestacado img {
  width: 90%;
}
.destacados .filaDestacados .productoDestacado a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #141414;
  padding-top: 15px;
  padding-bottom: 30px;
}

/*--------------musica*/
.musica {
  background-color: #464543;
  text-align: center;
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 50px;
}
.musica h2 {
  color: antiquewhite;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

/*--------Recomendaciones-----------*/
.recomendaciones-titulo {
  margin: 50px;
  text-align: center;
}

.recomendaciones-index {
  display: grid;
  grid-template-columns: repeat(3, 35%);
  grid-template-areas: "recomendacion-1  recomendacion-2  recomendacion-3";
  justify-content: space-around;
  justify-items: center;
  margin: 30px;
}
.recomendaciones-index .recomendacion-1, .recomendaciones-index .recomendacion-3, .recomendaciones-index .recomendacion-2 {
  grid-area: recomendacion-1;
  background-color: white;
  width: 300px;
  text-align: center;
}
.recomendaciones-index .recomendacion-1 h5, .recomendaciones-index .recomendacion-3 h5, .recomendaciones-index .recomendacion-2 h5 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.recomendaciones-index .recomendacion-1 a, .recomendaciones-index .recomendacion-3 a, .recomendaciones-index .recomendacion-2 a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #575555;
}
.recomendaciones-index .recomendacion-1 img, .recomendaciones-index .recomendacion-3 img, .recomendaciones-index .recomendacion-2 img {
  width: 300px;
}
.recomendaciones-index .recomendacion-2 {
  grid-area: recomendacion-2;
}
.recomendaciones-index .recomendacion-3 {
  grid-area: recomendacion-3;
}

body {
  background-color: #f5f5dc;
}
body h1 {
  margin-top: 20px;
  padding-bottom: 0px;
}

.banner-nosotros {
  width: 100%;
}

.nosotros-container {
  display: grid;
  grid-template-areas: "titulo-nos titulo-nos titulo-nos   titulo-nos" "foto1       foto1      texto1       texto1" "texto2      foto2      texto3       foto3";
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 80px 300px 300px;
  justify-content: space-around;
  justify-items: center;
  margin: 0px 40px 40px 40px;
  row-gap: 20px;
}
.nosotros-container .titulo-nos {
  grid-area: titulo-nos;
  justify-content: center;
  align-self: center;
}
.nosotros-container .foto1 {
  grid-area: foto1;
}
.nosotros-container .foto1 img {
  width: 100%;
}
.nosotros-container .texto1 {
  grid-area: texto1;
  justify-content: center;
}
.nosotros-container .texto1 p {
  font-size: 1.5rem;
}
.nosotros-container .texto2 {
  grid-area: texto2;
  justify-content: center;
}
.nosotros-container .texto2 p {
  grid-area: texto2;
}
.nosotros-container .foto2 {
  grid-area: foto2;
}
.nosotros-container .foto2 img {
  width: 105%;
}
.nosotros-container .foto3 {
  grid-area: foto3;
}
.nosotros-container .foto3 img {
  width: 100%;
}
.nosotros-container .texto3 {
  grid-area: texto3;
  justify-content: center;
}
.nosotros-container .texto3 p {
  grid-area: texto3;
}

body {
  background-color: #f5f5dc;
}

.banner-catalogo {
  background-image: url(../medios/carousel1\ 1.jpg);
  height: 350px;
  background-size: cover;
  background-position-y: center;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 25% 75%;
}

h1 {
  text-align: center;
  padding-bottom: 30px;
}

.col-3 {
  width: 20%;
}

.list-group {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 30px;
  justify-content: flex-start;
  position: sticky;
  top: 120px;
  align-content: space-around;
  width: 200px;
}
.list-group .list-group-item {
  border: none;
  color: #141414;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #f5f5dc;
}
.list-group .list-group-item-action {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: none;
}
.list-group .list-group-item-action .active {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: none;
}

.row h3 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 90px;
  margin-left: 10px;
}
.row h4 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-top: 20px;
  margin-bottom: 50px;
}
.row .card {
  width: 75%;
  border: none;
}
.row .card .card-title {
  font-size: 1.8rem;
}
.row .card .card-text {
  font-size: 1.2rem;
}

body {
  background-color: #f5f5dc;
}

.titulo-comunidad h2 {
  margin: 50px;
}

.recomendaciones-comunidad {
  display: grid;
  grid-template-columns: repeat(3, 35%);
  grid-template-areas: "recomendacion-1  recomendacion-2  recomendacion-3";
  justify-content: space-around;
  justify-items: center;
  margin: 30px;
}
.recomendaciones-comunidad .recomendacion-1, .recomendaciones-comunidad .recomendacion-3, .recomendaciones-comunidad .recomendacion-2 {
  grid-area: recomendacion-1;
  background-color: rgb(255, 252, 252);
  width: 300px;
}
.recomendaciones-comunidad .recomendacion-1 .texto-reco h5, .recomendaciones-comunidad .recomendacion-3 .texto-reco h5, .recomendaciones-comunidad .recomendacion-2 .texto-reco h5 {
  font-size: 1.5rem;
  margin: 30px;
}
.recomendaciones-comunidad .recomendacion-1 img, .recomendaciones-comunidad .recomendacion-3 img, .recomendaciones-comunidad .recomendacion-2 img {
  width: 300px;
}
.recomendaciones-comunidad .recomendacion-2 {
  grid-area: recomendacion-2;
}
.recomendaciones-comunidad .recomendacion-3 {
  grid-area: recomendacion-3;
}

.musica p {
  color: white;
  margin-bottom: 20px;
}

.rutas {
  display: flex;
}
.rutas .mapa {
  margin: 50px;
}
.rutas .texto-mapa {
  margin: 50px;
}
.rutas .texto-mapa h2 {
  margin-bottom: 30px;
}

.titulo-comunidad-insta {
  margin: 50px;
}

.compartido-instagram {
  display: grid;
  grid-template-areas: "insta1  insta2  insta3  " "insta1  insta5  insta3  ";
  margin: 50px;
  align-items: center;
  justify-content: center;
}
.compartido-instagram .insta1 {
  grid-area: insta1;
}
.compartido-instagram .insta2 {
  grid-area: insta2;
}
.compartido-instagram .insta3 {
  grid-area: insta3;
}
.compartido-instagram .insta5 {
  grid-area: insta5;
}

body {
  background-color: #f5f5dc;
}

.titulo-contacto {
  margin: 50px;
  text-align: left;
}

.formulario {
  width: 50%;
  margin: 50px;
}
.formulario .form-control {
  font-size: 1.8rem;
}
.formulario .form-label {
  font-size: 1.8rem;
}
.formulario .btn-primary {
  background-color: rgb(69, 167, 30);
  border-color: rgb(69, 167, 30);
}

.encontranos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.encontranos .mapa-locales {
  margin-right: 50px;
  margin-bottom: 50px;
}
.encontranos .direcciones {
  margin-left: 50px;
}

/* siempre el import de las media querys es el ultimo*/
/* --------responsibe mobile------------------*/
@media only screen and (max-width: 500px) {
  /*navbar*/
  header .menu-hamburguesa {
    margin-right: 50px;
    border: 1px solid;
  }
  header .barra-navegacion .logo-nav {
    width: 50%;
  }
  header .barra-navegacion img {
    width: 60%;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .container-fluid {
    align-content: space-around;
    align-items: center;
  }
  .navbar-expand-lg .navbar-collapse .nav-link {
    margin: 1px;
    padding: 2px;
    font-size: 5rem;
  }
  /*-----------footer--------------------------*/
  footer {
    flex-direction: column;
    align-items: center;
    height: 120px;
  }
  footer .redes {
    margin: 10px;
  }
  footer .nombre {
    margin: 10px;
  }
  /* ------------- index--------------------*/
  /*----destacados-----------*/
  .carrousel-index-1 h1 {
    font-size: 1rem;
  }
  .destacados h2 {
    font-size: 2.3rem;
    margin: 30px;
  }
  .destacados .filaDestacados {
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
  }
  /*------musica----*/
  .musica h2 {
    font-size: 2.3rem;
    margin: 30 px;
  }
  /*-----rcomendaciones -----*/
  .recomendaciones-titulo {
    font-size: 2.3rem;
    margin: 30px;
  }
  .recomendaciones-index {
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "recomendacion-1 " " recomendacion-2" "  recomendacion-3";
    justify-content: center;
    row-gap: 15px;
    grid-template-columns: 85%;
  }
  .recomendaciones-index .recomendacion-1 h5, .recomendaciones-index .recomendacion-2 h5, .recomendaciones-index .recomendacion-3 h5 {
    margin-bottom: 10px;
  }
  .titulo-comunidad h2 {
    font-size: 2rem;
  }
  /*----------------------Nosotros--------*/
  .banner-nosotros {
    display: none;
  }
  .nosotros-container {
    grid-template-areas: "titulo-nos" "foto1" "texto1" "texto2" "texto3" "foto3";
    grid-template-columns: 85%;
    grid-template-rows: 20px 140px 220px 110px 130px 310px;
    margin: 15px;
  }
  .nosotros-container .titulo-nos {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
  }
  .nosotros-container .foto1 img {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .nosotros-container .texto1 p {
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .nosotros-container .foto2 {
    display: none;
  }
  .nosotros-container .texto2 p {
    font-size: 1rem;
  }
  .nosotros-container .texto3 p {
    font-size: 1rem;
  }
  /*-------- catalogo mujer------*/
  .banner-catalogo {
    display: none;
  }
  .titulo-catalogo {
    display: none;
  }
  .titulo-h1-catalogo {
    margin-top: 20px;
  }
  .titulo-h1-catalogo h1 {
    font-size: 2.5rem;
  }
  .col-3 {
    width: 100%;
  }
  .col-3 a {
    align-items: center;
  }
  .col-9 {
    width: 100%;
    align-items: center;
  }
  /* lo de abajo no sirve para nada*/
  .catalogo-filtro {
    display: flex;
    flex-direction: row;
  }
  .catalogo-filtro .filtro {
    position: sticky;
    top: 120px;
  }
  .catalogo-fondo {
    align-items: center;
  }
  /* hasta aca*/
  .list-group {
    flex-direction: row;
    padding: 0px;
  }
  .list-group .list-group-item {
    font-size: 1rem;
    font-weight: 400;
  }
  .list-group .list-group-item-action .active {
    font-size: 1rem;
    font-weight: 400;
  }
  /*------------comunidad--------------*/
  .recomendaciones-comunidad {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 400px);
    grid-template-areas: "recomendacion-1" " recomendacion-2" "recomendacion-3";
    justify-content: center;
    justify-items: start;
  }
  .recomendaciones-comunidad .recomendacion-1, .recomendaciones-comunidad .recomendacion-2, .recomendaciones-comunidad .recomendacion-3 {
    width: 300px;
  }
  .recomendaciones-comunidad .recomendacion-1 img, .recomendaciones-comunidad .recomendacion-2 img, .recomendaciones-comunidad .recomendacion-3 img {
    width: 300px;
  }
  .rutas {
    flex-direction: column;
  }
  .rutas .mapa iframe {
    width: 300px;
  }
  .rutas .texto-mapa {
    margin: 50px;
  }
  .rutas .texto-mapa h2 {
    margin-bottom: 30px;
  }
  .compartido-instagram {
    display: flex;
    flex-direction: column;
  }
  /*--------------------contacto----------*/
  .formulario {
    width: 250px;
  }
}
@media only screen and (min-width: 499px) and (max-width: 978px) {
  header .barra-navegacion img {
    width: 80%;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 979px) {
  header .barra-navegacion {
    height: 100px;
  }
}
/*--------------------html general------------------------------*/
* {
  margin: 0;
  padding: 0;
}

html {
  FONT-VARIANT: JIS83;
  font-size: 62.5%; /* modifica 1 rem de 16px a 10px*/
  font-family: "Inter", sans-serif;
}
html h1 {
  font-size: 6rem;
  font-weight: 600;
}
html h2 {
  font-size: 3rem;
}
html p {
  font-size: 1.5rem;
}

/*# sourceMappingURL=estilos.css.map */
