//font-family: 'Inter', sans-serif;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Rock Salt', cursive;



/*font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/*@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&display=swap');*/

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Permanent+Marker&family=Rock+Salt&display=swap');


@import "utilities/variables";

@import "utilities/headerFooter.scss";

@import "pages/index.scss";
@import "pages/nosotros";
@import "pages/catalogo-mujer";
@import "pages/comunidad";
@import "pages/contacto";




/* siempre el import de las media querys es el ultimo*/
 @import "utilities/mediaQ.scss";


/*--------------------html general------------------------------*/

*{
    
    margin: 0;
    padding: 0;
    
}

html{
    FONT-VARIANT: JIS83;
    font-size: 62.5%; /* modifica 1 rem de 16px a 10px*/
    font-family: 'Inter', sans-serif;

    h1{
        font-size: 3.5rem;
        font-weight: 600;
    }

    h2{
        font-size: 3rem;
    }

    p{
        font-size: 1.5rem;
    }
    
}

