/* --------responsibe mobile------------------*/

@media only screen and (max-width: 500px) {

    /*navbar*/
    .navbar {



        img {
            width: 30%;
            margin-left: 5px;
        }


    }



    .container-fluid {


        align-content: space-around;
        align-items: center;
    }

    .navbar-expand-lg {


        .navbar-collapse {


            .nav-link {
                margin: 1px;
                padding: 2px;
                font-size: 5rem;
            }


        }

    }


    /*-----------footer--------------------------*/

    footer {

        flex-direction: column;
        align-items: center;
        height: 120px;



        .redes {
            margin: 10px;
        }

        .nombre {
            margin: 10px
        }
    }


    /* ------------- index--------------------*/

    /*----destacados-----------*/

    .destacados {
        h2 {
            font-size: 2.3rem;
            margin: 30px;
        }


        .filaDestacados {
            flex-direction: column;
            align-content: space-around;
            justify-content: center;

        }
    }

    /*------musica----*/
    .musica {
        h2 {
            font-size: 2.3rem;
            margin: 30 px;
        }
    }

    /*-----rcomendaciones -----*/

    .recomendaciones-titulo {
        font-size: 2.3rem;
        margin: 30px;
    }

    .recomendaciones-index {

        grid-template-rows: repeat(3, 400px);
        grid-template-areas:
            "recomendacion-1 "
            " recomendacion-2"
            "  recomendacion-3";

        justify-content: center;
        row-gap: 15px;
        grid-template-columns: 85%;

        .recomendacion-1 {
            h5 {
                margin-bottom: 10px;
            }
        }


    }



    .titulo-comunidad {
        h2 {
            font-size: 2rem;
        }

    }

    /*----------------------Nosotros--------*/

    .banner-nosotros {
        display: none;
    }


    .nosotros-container {

        grid-template-areas:
            "titulo-nos"
            "foto1"
            "texto1"
            "texto2"
            "texto3"
            "foto3";

        grid-template-columns: 85%;
        grid-template-rows: 20px 140px 220px 110px 130px 310px;

        margin: 15px;

        .titulo-nos {
            font-size: 2rem;
            text-align: center;
        }

        .foto1 {

            img {
                width: 100%;
            }

        }

        .texto1 {
            p {
                font-size: 1rem;
            }

        }

        .foto2 {
            display: none;
        }

        .texto2 p {
            font-size: 1rem;
        }

        .texto3 p {
            font-size: 1rem;
        }



    }

    /*-------- catalogo mujer------*/

    .banner-catalogo {
        display: none;
    }

    .titulo-catalogo {
        display: none;
    }

    .titulo-h1-catalogo {
        font-size: 2rem;
    }

    .col-3 {
        width: 100%;

        a {
            align-items: center;
        }


    }

    .col-9 {
        width: 100%;
        align-items: center;
    }

    .catalogo-filtro {


        display: flex;
        flex-direction: row;

    }

    .catalogo-fondo {

        align-items: center;

    }

    .list-group {

        flex-direction: row;
        padding: 0px;

        .list-group-item {
            font-size: 1rem;
            font-weight: 400;
        }

        .list-group-item-action {
            .active {
                font-size: 1rem;
                font-weight: 400;
            }
        }


    }


    /*------------comunidad--------------*/

    .recomendaciones-comunidad {

        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3, 400px);

        grid-template-areas:
            "recomendacion-1"
            " recomendacion-2"
            "recomendacion-3";

        justify-content: center;
        justify-items: start;

        .recomendacion-1 {
            width: 300px;

            img {
                width: 300px;
            }
        }

    }

    .rutas {

        flex-direction: column;



        .mapa {

            iframe {
                width: 300px;
            }

        }

        .texto-mapa {
            margin: 50px;

            h2 {
                margin-bottom: 30px;
            }
        }

    }


    .compartido-instagram {
        display: flex;
        flex-direction: column;
    }

    /*--------------------contacto----------*/

    .formulario {
        width: 250px;
    }









}