/* --------responsibe mobile------------------*/

@media only screen and (max-width: 500px) {

    /*navbar*/
    .navbar {

        img {
            width: 30px;
        }
    }

    /*-----------footer--------------------------*/



    /* ------------- index--------------------*/

    .carousel-inner h1 {
        font-size: 3rem;
    }

    /*----destacados-----------*/

    .filaDestacados {
        flex-direction: column;
        align-content: space-around;
        justify-content: center;

    }

    /*------musica----*/
    .musica h2 {
        font-size: 2rem;
    }

    /*-----rcomendaciones -----*/


    .recomendaciones-comunidad {

        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
            "recomendacion-1 "
            " recomendacion-2"
            "  recomendacion-3";

        justify-content: center;
        row-gap: 15px;
        grid-template-columns: 85%;


    }



    .titulo-comunidad {
        h2 {
            font-size: 2rem;
        }

    }

    /*nosotros*/

    .banner-nosotros {
        display: none;
    }


    .nosotros-container {

        grid-template-areas:
            "titulo-nos"
            "foto1"
            "texto1"
            "texto2"
            "texto3"
            "foto3";

        grid-template-columns: 85%;
        grid-template-rows: 60px 170px 260px 130px 150px 330px;

        .titulo-nos {
            font-size: 2.5rem;
            text-align: center;
        }

        .texto1 p {
            font-size: 1.2rem;
        }

        .foto2 {
            display: none;
        }

        .texto2 p {
            font-size: 1.2rem;
        }

        .texto3 p {
            font-size: 1.2rem;
        }



    }








}