/* --------responsibe mobile------------------*/

@media only screen and (max-width: 500px) {

    /*navbar*/

    header {


        .menu-hamburguesa {
            margin-right: 50px;
            border: 1px solid;


        }

        .barra-navegacion {

            .logo-nav {

                width: 50%;
            }

            img {
                width: 60%;
                margin-left: 10px;
                margin-top: 25px;
                margin-bottom: 25px;

            }


        }

    }




    .container-fluid {


        align-content: space-around;
        align-items: center;
    }

    .navbar-expand-lg {


        .navbar-collapse {


            .nav-link {
                margin: 1px;
                padding: 2px;
                font-size: 5rem;
            }


        }

    }


    /*-----------footer--------------------------*/

    footer {

        flex-direction: column;
        align-items: center;
        height: 120px;



        .redes {
            margin: 10px;
        }

        .nombre {
            margin: 10px
        }
    }


    /* ------------- index--------------------*/

    /*----destacados-----------*/

    .carrousel-index-1 {
        h1 {
            font-size: 1rem;
        }
    }

    .destacados {
        h2 {
            font-size: 2.3rem;
            margin: 30px;
        }


        .filaDestacados {
            flex-direction: column;
            align-content: space-around;
            justify-content: center;

        }
    }

    /*------musica----*/
    .musica {
        h2 {
            font-size: 2.3rem;
            margin: 30 px;
        }
    }

    /*-----rcomendaciones -----*/

    .recomendaciones-titulo {
        font-size: 2.3rem;
        margin: 30px;
    }

    .recomendaciones-index {

        grid-template-rows: repeat(3, 400px);
        grid-template-areas:
            "recomendacion-1 "
            " recomendacion-2"
            "  recomendacion-3";

        justify-content: center;
        row-gap: 15px;
        grid-template-columns: 85%;

        .recomendacion-1 {
            h5 {
                margin-bottom: 10px;
            }
        }


    }



    .titulo-comunidad {
        h2 {
            font-size: 2rem;
        }

    }

    /*----------------------Nosotros--------*/

    .banner-nosotros {
        display: none;
    }


    .nosotros-container {

        grid-template-areas:
            "titulo-nos"
            "foto1"
            "texto1"
            "texto2"
            "texto3"
            "foto3";

        grid-template-columns: 85%;
        grid-template-rows: 20px 140px 220px 110px 130px 310px;

        margin: 15px;

        .titulo-nos {
            font-size: 2rem;
            margin-top: 50px;
            margin-bottom: 20px;
            text-align: center;
        }

        .foto1 {

            img {
                width: 100%;
                margin-bottom: 20px;
                margin-top: 20px;
            }

        }

        .texto1 {
            p {
                font-size: 1rem;
                margin-bottom: 20px;
                margin-top: 20px;
            }

        }

        .foto2 {
            display: none;
        }

        .texto2 p {
            font-size: 1rem;
        }

        .texto3 p {
            font-size: 1rem;
        }



    }

    /*------------------------------------- catalogo mujer------*/

    .banner-catalogo {
        //height: 100px;
        //margin-bottom: 0px;
        display: none;
 }
        .titulo-h1-catalogo {
            margin: 0px;
            //margin-bottom: 15px;
    
            height: 50px;
            h1 {
                font-size: 2rem;
                margin: opx;
    
            }
            padding: 0px;
            //background-color: $cumbre-beige;
        }
   

    .titulo-catalogo {
        display: none;
    }

 

    .catalogo-completo {

       margin: 0px;

        .catalogo-filtro {
           width: 100%;
            padding: 0px;
            margin: 0px;
            background-color: white;
            border-color: black;
            position: sticky;
            top: 80px;
            z-index: 5;

            .filtro {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 0px;
                margin: 20px;
                top: 120px;
              

                .categoria {
                    font-size: 1rem;
                    font-weight: 200;
                    margin-top: 0px;
                    margin: 0px;
                    align-items: center;
                    background-color: white;
                    
                   
                }

            }

            a {
                background-color: white;
                //align-items: center; 
                
            }


        }

        .catalogo-fondo {
            width: 100%;
            align-items: center;
            padding: 0px;
            margin: 0px;

            .categoria-cards{
                width: 100%;
                margin-left: 0px;
            }

            .articulo{
                width: 85%;
                margin: 0px 0px 0px 10px;
                padding: 0px;
            }

            
        .espacio-card {
            align-items: center;
            
           
        }
        }

    }



    /*------------comunidad--------------*/

    .recomendaciones-comunidad {

        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3, 400px);

        grid-template-areas:
            "recomendacion-1"
            " recomendacion-2"
            "recomendacion-3";

        justify-content: center;
        justify-items: start;

        .recomendacion-1 {
            width: 300px;

            img {
                width: 300px;
            }
        }

    }

    .rutas {

        flex-direction: column;



        .mapa {

            iframe {
                width: 300px;
            }

        }

        .texto-mapa {
            margin: 50px;

            h2 {
                margin-bottom: 30px;
            }
        }

    }


    .compartido-instagram {
        display: flex;
        flex-direction: column;
    }

    /*--------------------contacto----------*/

    .formulario {
        width: 250px;
    }









}

//tablet
@media only screen and (min-width: 499px) and (max-width: 990px) {

    header {
        .barra-navegacion {


            img {
                width: 80%;
                margin-left: 50px;
                margin-top: 25px;
                margin-bottom: 25px;

            }


        }

    }






}


//version desktop

@media only screen and (min-width: 991px) {

    header {

        .barra-navegacion {
            height: 100px;


        }


    }
}