/*colores: #FFF7D4
#FFD95A
#C07F00
#4C3D3D

header{
    background-color: #F4BA43

.destacados a{
    color: #fad532;

.musica{
    background-color: #F4BA43;

font-family: 'Inter', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Rock Salt', cursive;

*/



/*-------------------- index-----------------------------*/

/*banner*/

/* .banner{

    background-image: url(../medios/minitrekBanner.jpg);
    
    width: 100%;
    background-size:cover;
    background-position-y:center ;
    color: #055009;

    font-family: 'Rock Salt', cursive;
     
    
    
    text-align: center;
    
} */



/*recomendaciones*/



/*---------------------catalogo fotos dama ---------*/












/* .catalogo-fotos-mujer{
    grid-column: 2/3;
}


 */
/*-- catalogo fotos hombre-------------------------------*/

.banner-catalogo-hombre{
    background-image: url(../medios/carousel-2\ 1.jpg);
    height: 350px;
    background-size:cover;
    background-position-y:center ;
    
}






/*-------------------- catalogo-----------------------------*/
/* 
.categorias{
    background-color: #fff0ab;
}

.categorias ul{
    list-style: none;
}

.categorias ul a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

.productos img{
    width: 20%;
}

.productos p{
font-size: 1.5rem;
}

.productos{
    display: grid;
    grid-template-rows: (2, 300px);
    grid-template-columns: (3, 300px);
} */

/*------------------comunidad---------------------*/






/*------------------------------------contacto--------------------------------*/




/*--------------------nosotros-----------------------------------------*/

/* 
.nosotros-class img{
    width: 100%;
} */





