body {
    background-color: $cumbre-beige;
}


.banner-comunidad {
    background-image: url(../medios/trekking-f-1.jpg);

    height: 350px;
    background-size: cover;
    background-position-y: center;
    margin-bottom: 30px;
    text-align: center;

    h1 {
        padding-top: 230px;
        padding-bottom: 0px;
        text-align: center;

        color: white;

        text-shadow: 1px 4px 12px rgba(77, 76, 76, 0.96);

    }
}

.titulo-comunidad {

    h2 {
        margin: 50px;


    }

}

.recomendaciones-comunidad {

  margin-bottom: 20px;
        .reco-1 {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            
            background: none;
            a{
                text-decoration: none;
                color: black;
                text-align: center;
                h5{
                   font-size: 1.8rem; 
                   margin: 10px;
                   font-weight: 400;
                }
                h5:hover{
                    font-weight: 500;
                }
                
            }
        }
   

}

/*musica*/

.musica-comunidad {
    background-color: #464543;
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 50px;

    h2 {
        color: antiquewhite;
        padding-bottom: 15px;
        margin-bottom: 20px;

    }
   
    p {
        color: white;
        margin-bottom: 20px;
    }
}

/*mapa y rutas*/

.rutas {

    display: flex;


    .mapa-c {

        width: 50%;
        margin: 50px;
    }

    .texto-mapa {
        margin: 40px;

        h2 {
            margin-bottom: 30px;
        }
    }

}

.ubicacion {
    img {
        width: 40%;
    }

    display: flex;
}

/*instagram*/

.titulo-comunidad-insta {
    margin: 50px;
}


.compartido-instagram {
    display: grid;


    grid-template-areas:
        "insta1  insta2  insta3  "
        "insta1  insta5  insta3  ";

    margin: 50px;
    align-items: center;
    justify-content: center;

    .insta1 {
        grid-area: insta1;
        margin: 20px;



    }

    .insta2 {
        grid-area: insta2;
        margin: 20px;




    }

    .insta3 {
        grid-area: insta3;
        margin: 20px;

    }

    .insta5 {
        grid-area: insta5;
        margin: 20px;
    }


}