body{
    background-color: $cumbre-beige;
}

.titulo-contacto{
margin: 50px;
text-align: left;

}


.formulario {

    width: 50%;

    margin: 50px;

 
    
    .form-control{

        font-size: 1.8rem;
    }

    .form-label{
        font-size: 1.8rem;
    }

    .btn-primary{
        background-color: rgb(69, 167, 30);
        border-color: rgb(69, 167, 30);
    }

    
}
 
.encontranos {

        display: flex;
        flex-direction: row;
        
        justify-content: flex-start;
       

        .mapa-locales {
            iframe{
                 margin-left: 250px;
            margin-bottom: 50px;
            }
           
        }

        .direcciones {
            margin-left: 50px;
            
        }

    }
