body{
    background-color: $cumbre-beige;
}

/*carousel*/
.carouselExampleCaptions{
   
    .carousel-inner {

        h1 {
            font-size: 7rem;
        }
    }

}



/*-------------------destacados*/


.destacados {
    text-align: center;
    

    h2 {
        color: #141414;
        margin: 50px;

    }

    .filaDestacados {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: flex-end;

        .productoDestacado {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 90%;
            }
           

            a {
                font-size: 1.5rem;
                text-decoration: none;
                color: #141414;
                padding-top: 15px;
                padding-bottom: 30px;

            }
            
        }

        
    }
}

/*--------------musica*/

.musica {
    background-color: #464543;
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 50px;

    h2 {
        color: antiquewhite;
        padding-bottom: 15px;
        margin-bottom: 20px;
        
    }

}

/*--------Recomendaciones-----------*/

.recomendaciones-titulo {
    margin: 50px;
    text-align: center;
}

.recomendaciones-index {

    display: grid;
    grid-template-columns: repeat(3, 35%);
    grid-template-areas:
        "recomendacion-1  recomendacion-2  recomendacion-3";

    justify-content: space-around;
    justify-items: center;
    margin: 30px;

    .recomendacion-1 {
        grid-area: recomendacion-1;
        background-color: white;
        width: 300px;
        text-align: center;
        
        h5{
            font-size: 2rem;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        a{
            font-size: 1.5rem;
            text-decoration: none;
            color: #575555;
            
        }

        img {
            width: 300px;
        }


    }

    .recomendacion-2 {
        @extend .recomendacion-1;
        grid-area: recomendacion-2;

    }

    .recomendacion-3 {
        @extend .recomendacion-1;
        grid-area: recomendacion-3;

    }
}