body {
    background-color: #EEF3F7;
}

/*carousel*/

.carrousel-index-1 {

    h1 {
        font-size: 7rem;

    }

    p {
        font-size: 3rem;
    }

    text-shadow: 1px 4px 12px rgba(77, 76, 76, 0.96);

}

.carrousel-index-2 {
    h2 {
        font-size: 5rem;
    }

    p {
        font-size: 3rem;
    }

    text-shadow: 1px 4px 12px rgba(77, 76, 76, 0.96);
}

.carrousel-index-3 {
    h2 {
        font-size: 5rem;
    }

    p {
        font-size: 3rem;
    }

    //text-shadow: 1px 4px 12px rgba(255,255,255,0.6);
    text-shadow: 1px 4px 12px rgba(77, 76, 76, 0.96);
}





/*titulo aventura*/

.titulo-aventura {

    h2 {
        text-align: center;
        margin: 40px;
    }

}



/*acceso a catalogos*/

.acceso-catalogo-inicio {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px;

    .acceso-tipo {
        width: 30%;
        align-items: start;
        background-color: $cumbre-beige;
        border: none;

        .titulo-card {
            a {
                text-decoration: none;
                font-size: 2.5rem;
                color: black;

            }

        }

        h5 {
            font-size: 2.5rem;
            text-decoration: none;
            font-style: normal;

            text-align: start;
        }

        img {
            padding-bottom: 10px;
        }

        .boton-catalogo-inicio {
            font-size: 1.5rem;
            padding: 5px;
            margin-top: 10px;
            background-color: rgb(204, 30, 30);
            border-color: rgb(204, 30, 30);
        }

    }
}


/*-------------------destacados*/


.destacados {
    text-align: center;
    background-image: url(../medios/foto-montanias-claro2.jpg);
    background-size: cover;
    //background-color: white;
    //ssmargin: 40px;
    //padding-top: 10px;
    // padding-bottom: 10px;
     margin-bottom: 40px;


    h2 {
        color: #141414;
        margin: 30px;
        padding-top: 20px;
        


    }

    .filaDestacados {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        // align-content: flex-end;
        padding-bottom: 30px;


        .destacados-1 {
            //width: 20%;
            margin: 0px;
        }






        a {
            font-size: 1.5rem;
            text-decoration: none;
            color: #141414;
            //padding-top: 15px;
            // padding-bottom: 30px;

        }


    }
}

/*--------------musica*/

.musica {
    background-color: #464543;
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 50px;

    h2 {
        color: antiquewhite;
        padding-bottom: 15px;
        margin-bottom: 20px;

    }

}

/*--------Recomendaciones-----------*/

.recomendaciones-titulo {
    margin: 20px;
    text-align: center;
}


.recomendaciones-index {


    .recomendaciones-flex {
        justify-content: space-around;
        padding-bottom: 20px;
        
    }

    .texto-recomendaciones-index {
        margin: 0px
    }

    .recomendacion-1 {
        grid-area: recomendacion-1;
        background-color: white;
      //width: 30%;
        align-items: center;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;

        margin: 10px;

        h5 {
            font-size: 2rem;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        a {
            font-size: 1.8rem;
            text-decoration: none;
            color: #000000;
        }

        a :hover {
            color: rgb(204, 30, 30);
        }







    }






}