
body{
    background-color: $cumbre-beige;
    
    h1{
    margin-top: 20px;
    padding-bottom: 0px;
    text-align: center;
    
   }
}


.banner-nosotros {
    width: 100%;
     
}




.nosotros-container {

    display: grid;
    grid-template-areas:
        "titulo-nos titulo-nos titulo-nos   titulo-nos"
        "foto1       foto1      texto1       texto1"
        "texto2      foto2      texto3       foto3"
    ;

    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 80px 300px 300px;
    justify-content:space-around;
    justify-items: center;
    margin:0px 40px 40px 40px;
    
    
    row-gap: 20px;

    .titulo-nos {
        grid-area: titulo-nos;
        justify-content: center;
        align-self: center;
    }

    .foto1 {
        grid-area: foto1;
       img{
        width: 100%;
       }
        
    }

    .texto1 {
        grid-area: texto1;
        justify-content: center;

        p {
            font-size: 1.5rem;
        }
    }

    .texto2 {
        grid-area: texto2;
        justify-content: center;
        p {
            grid-area: texto2;
        }
        
    }

    .foto2 {
        grid-area: foto2;
        img{
            width: 105%;
        }
    }

    .foto3 {
        grid-area: foto3;
        img{
            width: 100%;
        }
    }

    .texto3 {
        grid-area: texto3;
        justify-content: center;
        p {
            grid-area: texto3;
        }


    }

}